# Configuration file

####################
# customspawner-settings
####################

customspawner-settings {
    B:debug=false
    B:enforceMaxSpawnLimits=false
    B:forceDespawns=false
    B:killAllVillagers=false
    B:killallUseLightLevel=true
    I:maxDespawnLightLevel=2
    I:minDespawnLightLevel=2
    B:worldGenCreatureSpawning=true
}


####################
# mod-mappings
#===================
# Mod Biome Mappings
# You may change tag values but do NOT change the default keys since they are used to generate our defaults.
# For example, 'twilightforest=TL:TwilightForest.cfg' may be changed to 'twilightforest=TWL:TWL.cfg' but may NOT be changed to 'twilight=TWL:TWL.cfg'
####################

mod-mappings {
    S:APPENG <APPENG:APPENG.cfg>
    S:ASSETS <ASSETS:ASSETS.cfg>
    S:BONI <BONI:BONI.cfg>
    S:COFH <COFH:COFH.cfg>
    S:CRAZYPANTS <CRAZYPANTS:CRAZYPANTS.cfg>
    S:CRICKETCRAFT <CRICKETCRAFT:CRICKETCRAFT.cfg>
    S:INFINITYRAIDER <INFINITYRAIDER:INFINITYRAIDER.cfg>
    S:IVORIUS <IVORIUS:IVORIUS.cfg>
    S:MICDOODLE8 <MICDOODLE8:MICDOODLE8.cfg>
    S:MOON <MOON:MOON.cfg>
    S:PNEUMATICCRAFT <PNEUMATICCRAFT:PNEUMATICCRAFT.cfg>
    S:POWERCRYSTALS <POWERCRYSTALS:POWERCRYSTALS.cfg>
    S:REPTILES <REPTILES:REPTILES.cfg>
    S:SIROLF2009 <SIROLF2009:SIROLF2009.cfg>
    S:TCONSTRUCT <TCONSTRUCT:TCONSTRUCT.cfg>
    S:THEHIPPOMASTER <THEHIPPOMASTER:THEHIPPOMASTER.cfg>
    S:TMTRAVLR <TMTRAVLR:TMTRAVLR.cfg>
    S:TOAST <TOAST:TOAST.cfg>
    S:TOOPS <TOOPS:TOOPS.cfg>
    S:TTFTCUTS <TTFTCUTS:TTFTCUTS.cfg>
    S:extrabiomes <XL:ExtraBiomesXL.cfg>
    S:highlands <HL:Highlands.cfg>
    S:tinker <TC:TinkerConstruct.cfg>
    S:undefined <U:Undefined.cfg>
    S:vanilla <MC:Vanilla.cfg>
}


